filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /usr/share/filebeat/logs_input/*.log
      - /usr/share/filebeat/logs_input/*.json
    json.keys_under_root: true
    json.overwrite_keys: true
    json.add_error_key: true
    json.message_key: message

output.logstash:
  hosts: ["logstash:5044"]
